a(class='navbar-brand' href=path + 'index.html') 
    h1 Crazy Legs Races
button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNav')
    span(class='navbar-toggler-icon')
div(class='collapse navbar-collapse' id='navbarNav')
    ul(class='navbar-nav')
        li(class='nav-item' + indexActive)
            a(class='nav-link' href=path + 'index.html') Home
        li(class='nav-item' + racesActive)
            a(class='nav-link' href=path + 'pages/races.html#races') Races
        li(class='nav-item' + resultsActive)
            a(class='nav-link' href=path + 'pages/results.html#results') Results
        li(class='nav-item social_links')
            a(class='nav-link' href='https://www.facebook.com' target="_blank")
                img(src=path + 'img/fb_logo/f_logo_RGB-Blue_58.png')
        li(class='nav-item social_links')
            a(class='nav-link' href='https://www.twitter.com' target="_blank")
                img(src=path + 'img/twitter_logo/Twitter_Logo_Blue.png' class='twitter_img')